header {
  height: 60px;
  display: flex;
  background-color: rgb(3, 38, 59);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  /* border: 1px solid red; */
}

header .container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 0px 20px;
  gap: 5px;
}

header .lineOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

header .linetwo {
  display: none;
}

header .linethree {
  display: none;
}

header .logo {
  height: 60px;
  object-fit: cover;
}

header .star {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

header .search {
  flex: 30%;
  display: flex;
  position: relative;
}

header .search .glass {
  height: 20px;
  width: 40px;
  object-fit: scale-down;
  position: absolute;
  top: 5px;
  left: 7px;
  border-right: 1px solid white;
}

header .searchBar {
  flex: 1;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(10, 46, 69);
  border: none;
  box-shadow: inset 0px 0px 5px rgb(255, 255, 255, 0.3);
  color: white;
  padding-left: 60px;
  padding-right: 10px;
}

header nav {
  flex: 20%;
  display: flex;
  /* border: 1px solid green; */
  height: 60px;

  font-weight: bold;
  font-size: 24px;
}

header .searchBurger {
  display: none;
}

header .navBurger {
  display: none;
}

header .border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* border: 1px solid red; */
  background: linear-gradient(
    rgb(255, 255, 255, 0) 0%,
    rgb(255, 255, 255, 1) 50%,
    rgb(255, 255, 255, 0) 100%
  );
  width: 5px;
}

header .link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  height: 60px;
  width: 98%;
  /* background-color: rgb(3, 38, 59); */
  /* border: 1px solid yellow; */
}

header .active {
  background: linear-gradient(#e7161e, #930d11, #e7161e);
}

header .hidden {
  visibility: hidden;
}

header .none {
  display: none;
}

header .link:hover,
header .star:hover,
header .logo:hover {
  cursor: pointer;
}

header .link:hover {
  animation: lightIn 0.5s forwards;
}

@keyframes lightIn {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: inset 0px 0px 20px rgb(255, 255, 255, 0.3);
  }
}

header .star:hover {
  animation: lightAround 0.5s forwards;
}

@keyframes lightAround {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.3);
  }
}

header .burgermenu img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: none;
}

header .burgermenu:hover {
  cursor: pointer;
}

/* -----------RESPONSIVE------------ */
/* -----------RESPONSIVE------------ */
/* -----------RESPONSIVE------------ */

@media screen and (max-width: 760px) {
  header {
    height: fit-content;
  }

  header .burgermenu img {
    display: flex;
  }

  header .star,
  header .search,
  header nav {
    display: none;
  }

  header .linetwo {
    display: flex;
  }

  header .linethree {
    display: flex;
  }

  header .navBurger {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
  }

  header .navBurger .link {
    height: 40px;
  }

  header .searchBurger {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
  }

  header .searchBurger .searchBar {
    width: 100%;
  }

  header .searchBurger .glass {
    height: 20px;
    width: 40px;
    object-fit: scale-down;
    position: absolute;
    top: 5px;
    left: 7px;
    border-right: 1px solid white;
  }

  header .none {
    display: none;
  }
}
